/* reset */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* estilos generales */

/*header*/
header {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    background-color: #2B2B2B;
    text-align: left;
    align-items: center;
}

header img {
    width: 95px;
    height: 75px;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    margin-left: 30px;
    background-color: rgb(250, 207, 226);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    margin-left: 30px;
}

header nav ul li a {
    font-size: 20px;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*Fin Header*/

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2B2B2B;
    color: whitesmoke;
    text-align: center;
}

/*Fin Footer*/


/* estilos del index - etiqueta main */

main {
    background-color: rgba(255, 255, 255, 0.938);
}

section {
    padding: 5px;
}

.main-home {
    margin-bottom: 10px;
    text-align: center;
}

.main-home h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.main-home p {
    padding: 10px;
}

.main-section {
    display: flex;
    margin-bottom:25px;
}

.imagenGaleriaIzq img {
    border-color: #2B2B2B;
    border-width: 3px;
    border-style: solid;
    border-radius: 50% 0;
    height: 300px;
}

.imagenGaleriaDer img {
    border-color: #2B2B2B;
    border-width: 3px;
    border-style: solid;
    border-radius: 0 50%;
    height: 300px;
}

.imagenPerfil img{
    border-radius: 25% 25%;
    height:300px;
    border-color: #2B2B2B;
    border-width: 3px;
    border-style: solid;
    width: 300px;
}

aside {
    margin:5px
}

aside a img{
height: 300px;
border-radius: 5%;
border-color: #2B2B2B;
    border-width: 3px;
    border-style: solid;
}
























.main-home img {
    width: 50%;
}

main form fieldset div {
    padding: 10px;
    box-sizing: 20px;
}

.formbuttonDiv{
    display: flex;
}

.formbutton {
    padding: 5px;
    background-color: rgb(250, 207, 226);
    margin:5px;   

}

.experience img {
    width: 455px;
    height: 305px;
    border-color: #2B2B2B;
    border-width: 3px;
    border-style: solid;
    border-radius: 5%;
    margin-bottom: 5px;
}

.socialmedia a img {
    width: 85px;
    height: 70px;
    border-radius: 10%;
    margin-left: 12px;
}

label {
    display: block;
}

input {
    width:100%;
}